@font-face{
    font-family: 'JetBrainsMono';
    src: url('fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'JetBrainsMono';
    src: url('fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
